<div class="main">
  <section class="hero">
    <div class="hero__content">
      <h1 class="hero__title">Premium abstract images</h1>
      <ul class="hero__features">
        <li class="hero__features--item">
          <img
            src="./img/hero-secton-bullets-img/check-fill.svg"
            width="24px"
            height="24px"
            alt=""
          />
          Minimum 5K image resolution
        </li>
        <li class="hero__features--item">
          <img
            src="./img/hero-secton-bullets-img/check-fill.svg"
            width="24px"
            height="24px"
            alt=""
          />
          Various format variants available
        </li>
        <li class="hero__features--item">
          <img
            src="./img/hero-secton-bullets-img/check-fill.svg"
            width="24px"
            height="24px"
            alt=""
          />
          Retina display support
        </li>
      </ul>
      <div class="hero__cta">
        <button class="btn btn__primary hero__btn hero__btn--primary">
          See pricing
        </button>
        <button
          type="button"
          class="btn btn__secondary hero__btn hero__btn--secondary"
        >
          Learn more
        </button>
      </div>
    </div>
    <figure class="hero__image">
      <picture>
        <source
          srcset="./img/hero-secton-bullets-img/desktop/hero-image-desktop.png"
          media="(min-width: 64em)"
        />

        <source
          srcset="./img/hero-secton-bullets-img/tablet/hero-image-tablet.png"
          media="(min-width: 48em)"
        />
        <img
          src="./img/hero-secton-bullets-img/mobile/hero-mobile.png"
          alt=""
        />
      </picture>
    </figure>
  </section>
</div>
